body{
	background-image:url('../images/Background-glow.jpg');
	background-position:center top;
	font-family:arial, helvetica;
}

.centered-container
{
	max-width:960px;
	margin:0 auto;
	position:relative;
}

.Navigation
{
	margin-top:50px;
	height:78px;
	background-image:url('../images/bar-background-repeat.png');

}

/*** Navigation ***/
.Navigation ul
{
	padding:25px 0 0 0;
}

.Navigation ul li
{
	float:left;
	margin:0 0 0 15px;
	font-size:10pt;
}
/*** end of navigation ***/

.banner-ad
{
	float:right;
	width:565px;
	margin:-80px 193px 10px 0;
	height:100px;
}

.listenlive
{
	float:left;
	width:150px;
	height:31px;
	margin-top:20px;
}

.logo
{
	float:left;
	width:196px;
	height:196px;
	margin-top:-25px;
}

.Navigation ul
{
	float:left;
}

.side-column
{
	background-image:url('../images/content-background.png');
}

.side-column-left
{
	margin-left:25px;
}

.middle-column{
	background-image:url('../images/center-content-bkg.png');
}


.slides_container {
  	width:910px;
	height:415px;
	display:none;
}
.slides_container div {
	width:960px;
	height:415px;
	display:block;
}

.advertisement-left
{
	width:250px;
	margin-left:-70px;
	padding:20px 0 10px 0;
}
.advertisement-right
{
	width:250px;
	padding:20px 0 10px 0;
}

/*** Photo Reel ***/
#PhotoReel
{
	height:450px;
}

/*** End of Photo Reel ***/

/*** twitter-module ***/
.twitter-module
{
	background-image:url('../images/background_opaque.png');
	width:200px;
	margin:15px 0 0 12px;
	padding:0 5px 5px 5px;
	font-size:9pt;
}
.twitter-module-heading
{
	background-image:url('../images/twitterhead.png');
	width:189px;
	height:61px;
}

.twitter-module-arrow
{
	background-image:url('../images/header_arrow_trans.png');
	background-repeat:no-repeat;
	background-position:center;
	height:10px;
}
.twitter-module-body
{
	text-align:center;
	background-image:url('../images/content-background.png');
}
.twitter-module-body a
{
	color:#999;
}
.twitter-footer
{
	background-image:url('../images/background_opaque.png');
}
/*** end of twitter-module ***/

/*** photo-module ***/
.photo-module
{
	background-image:url('../images/background_opaque.png');
	width:200px;
	margin:15px 0 0 12px;
	padding:5px 0px 0px 0px;
}
.photo-module-heading
{
	background-image:url('../images/photohead.png');
	width:139px;
	height:42px;
	margin-left:30px;
	padding-bottom:5px;
	background-repeat:no-repeat;
}

.photo-module-arrow
{
	background-image:url('../images/header_arrow_trans.png');
	background-repeat:no-repeat;
	background-position:center;
	height:10px;
}
.photo-module-body
{
	background-image:url('../images/content-background.png');
}
/*** end of photo-module ***/

/*** road-module ***/
.road-module
{
	background-image:url('../images/background_opaque.png');
	width:200px;
	margin:15px 0 0 12px;
	padding:0 5px 5px 5px;
}
.road-module-heading
{
	background-image:url('../images/roadhead.png');
	width:115px;
	height:89px;
}

.road-module-body
{
	background-image:url('../images/content-background.png');
}
/*** end of road-module ***/

/*** shows-module ***/
.shows-module
{
	background-image:url('../images/background_opaque.png');
	width:200px;
	margin:15px 0 0 12px;
	padding:0 5px 5px 5px;
}
.shows-module-heading
{
	background-image:url('../images/tvpodcasthead.png');
	width:189px;
	height:61px;
}

.shows-module-arrow
{
	background-image:url('../images/header_arrow_trans.png');
	background-repeat:no-repeat;
	background-position:center;
	height:10px;
}
.shows-module-body
{
	background-image:url('../images/content-background.png');
}

.shows-module-body li
{
	font-size:10pt;
	border-bottom:1px solid #999;
	padding-left:25px;
}
/*** end of shows-module ***/

/*** Featured Column ***/
.feature-column-heading
{
	text-align:center;
	padding:25px 0 0 0;
}

.feature-column-item
{
	width:317px;
	margin-left:40px;
	padding:25px 0 25px 0;
}

.feature-column-item img
{
	width:317px;
	text-align:center;
}

.feature-column-item h3
{
	font-weight:bold;
	font-size:11pt;
	color:#fff;
}
.feature-column-item h4
{
	font-size:11pt;
	color:#fff;
}
.feature-column-heading img
{
	width:270px;
}
/*** End of Featured Column ***/

/*** Twitter ***/
.tweet,
.query {
	color: #fff;
}

.tweet_list {
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}
	
.tweet_list li {
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0.5em;
	list-style-type: none;
	}

.tweet_list li a {
	color: #fff;
}

.tweet_list .tweet_even {
	border-bottom:1px solid #999;
}

.tweet_list .tweet_odd {
	border-bottom:1px solid #999;
}

.tweet_list .tweet_avatar {
	padding-right: .5em; float: left;
}

.tweet_list .tweet_avatar img {
	vertical-align: middle;
	width:35px;
}
/*** end of Twitter ***/

@media only screen and (max-width: 767px) {
	.Navigation{
		height:600px;
	}
	.Navigation ul li
	{
		float:none;
	}
	.Navigation ul{
		display:none;
	}
	.logo{
		float:none;
		max-width:767px;
		margin:0 auto;
		position:relative;
	}
	.listenlive{
		float:none;
		max-width:767px;
		margin:0 auto;
		position:relative;
	}
}